.SignIn {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, white 50%, #6c5fbc 50%);
    padding: 20px;
  }
  
  .big {
    display: flex;
    align-items: center;
    img {
      margin-top: -40px;
    }
  
    .left {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 700px;
      h1 {
        color: #323142;
        font-size: 35.25px;
        font-weight: 600;
        line-height: 125%;
        letter-spacing: -1.41px;
        margin-bottom: 36px;
      }
  
      form {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
        input {
          width: 382.441px;
          height: 74.487px;
          padding-left: 30px;
          color: #c2c3cb;
          font-size: 16.676px;
          letter-spacing: 1.167px;
          text-transform: uppercase;
          border-radius: 14.275px;
          background: #f5f5f5;
          outline: none;
        }
        button {
          color: #f3f5f6;
          font-size: 17.788px;
          font-weight: 600;
          letter-spacing: 0.534px;
          text-transform: uppercase;
          border-radius: 15.564px;
          background: #6c5fbc;
          width: 382.441px;
          height: 74.487px;
        }
      }
      .end {
        display: flex;
        align-items: center;
        margin-top: 4px;
        column-gap: 5px;
        p {
          color: #3e3e3e;
          font-size: 18.9px;
          font-weight: 400;
          letter-spacing: 0.189px;
        }
        a {
          color: #6c5fbc;
          font-size: 18.9px;
          font-weight: 700;
          text-decoration: underline;
          margin-top: -12px;
        }
      }
    }
  
    .right {
      width: 700px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 100px;
      h1 {
        color: var(--others-white, #fff);
        text-align: center;
        font-size: 40px;
        font-weight: 800;
        line-height: 110%;
      }
      p {
        color: var(--others-white, #fff);
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: 0.2px;
        width: 500px;
        margin-top: 20px;
      }
    }
  }
  
  .foter {
      display: flex;
      align-items: center;
      column-gap: 350px;
    p {
      color: var(--greyscale-600, #718096);
      font-size: 16px;
      font-weight: 500;
      line-height: 150%;
      letter-spacing: 0.2px;
    }
  }
  